body {
  background-color: white;
}

.banner {
  background-image: linear-gradient(rgba(0,0,0,0.6),rgba(0,0,0,0.6)), asset-url('background-2.jpeg');
  height: 400px;
  width: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  color: white;
}

.content-container {
  width: 90%;
  margin: 0 auto;
}

.content-title {
  padding-top: 100px;
}

.content-title p {
  padding-top: 20px;
  font-weight: normal
}

#carousel-example-1z {
  margin-top: 50px;
  margin-bottom: 20px;
}

// .become-teacher {
//   width: 90%;
//   // justify:center;
// }

.become-teacher-div {
  width: 80%;
  margin: 0 auto;
}
