  body {
    background-color: white;
  }


.home-container {
  height: calc(100vh - 50px);
  max-width: 1600px;
  background-size: cover;
}

.banner {
  background-image: linear-gradient(rgba(0,0,0,0.6),rgba(0,0,0,0.6)), asset-url('background-2.jpg');
  height: 400px;
  width: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  color: white;
}

.content-container {
  width: 90%;
  margin: 0 auto;
}

.content-title {
  padding-top: 100px;
}

.content-title p {
  padding-top: 20px;
  font-weight: normal
}

#carousel-example-1z {
  margin-top: 50px;
  margin-bottom: 20px;
}

// .become-teacher {
//   width: 90%;
//   // justify:center;
// }

.become-teacher-div {
  width: 80%;
  margin: 0 auto;
  margin-bottom: 60px;
}


.card-how {
  height: 150px;
  width: 100%;
  margin-top: 56px;
  margin-right: 0px;
  margin-left: 0px;
}

.card-how-1{
  padding-bottom: 40px;
  padding-right: 40px;
  padding-left: 0px;
  // height: 120px;
  margin-bottom: 0px;
  margin-top: 0px;
  img {
    object-fit: fill;
    height: 100%;
    // width: 100px;
  }
}

.card-how-2 {
  border-left: 2px solid $purple;;
  object-fit: fill;
  padding-bottom: 36px;
  display: flex;
  padding-right: 0px;
  padding-left: 40px;
  padding-right: 10px;
  justify-content: center;
  // align-items: center;
  p {
    opacity: 0.8;
    font-size: 14px;
    font-weight: bolder;

  }
}

.card-how-3 {
  object-fit: fill;
  padding-bottom: 36px;
  display: flex;
  padding-right: 0px;
  padding-left: 40px;
  padding-right: 10px;
  justify-content: center;
  // align-items: center;
  p {
    opacity: 0.8;
    font-size: 14px;
    font-weight: bolder;
  }
}

.end {
margin-bottom: 100px;
}

.dot {
  height: 10px;
  width: 10px;
  radius: 50;
  position: absolute;
  right: 163px;
  top: -1px;
  img {
    object-fit: fill;
    height: 100%;
  }
}

.home {
  margin-bottom: 50px;
  height: 720px;
}

.how-works{
  text-align: center;
  // color: blue;
  margin: 0px auto;
}







