.profil-header {
  display: flex;
  justify-content: space-between;
  padding-top: 30px;
}

.header-nationality {
  display: inline-flex;
  font-size: 12px;
}

.header-infos h1 {
  margin-bottom: -6px;
  opacity: 0.8;
  padding: 0px;
  font-size: 2rem;
  font-weight: bold;
}

.header-nationality h4 {
  font-size: 12px;
  opacity: 0.7;
  padding-right: 3px;
}

.profil-description {
  padding-top: 30px;
}
.profil-description h2 {
  font-size: 16px;
  font-weight: bold;
  opacity: 0.8;
}

.profil-description p {
  opacity: 0.7;
  font-size: 14px;
  text-align: justify;
}

.profil-interests {
  padding-top: 10px;
}

.profil-interests h2 {
  opacity: 0.8;
  font-size: 16px;
  font-weight: bold;
}

.interest-categories {
  padding-bottom: 10px;
}
