.profil-header {
  display: flex;
  justify-content: space-between;
  padding-top: 30px;
}

.header-nationality {
  display: inline-flex;
  align-items: center;
  font-size: 12px;
}

.header-infos h1 {
  margin-bottom: -6px;
  opacity: 0.8;
  padding: 0px;
  font-size: 2rem;
  font-weight: bold;
}

.header-nationality h4 {
  font-size: 12px;
  opacity: 0.7;
  padding-right: 3px;
  margin-bottom: 0px;
}

.profil-description {
  padding-top: 30px;
}

.profil-description h2 {
  font-size: 20px;
  font-weight: bold;
  opacity: 0.9;
}

.profil-description p {
  opacity: 0.7;
  font-size: 14px;
  text-align: justify;
}

.profil-interests h2 {
  opacity: 0.9;
  font-size: 20px;
  font-weight: bold;
  margin-top: 4px;
  margin-bottom: 4px;
}

.interest-categories {
  padding-bottom: 10px;
}


.profil-languages h2 {
  font-size: 20px;
  font-weight: bold;
  opacity: 0.9;
}

.profil-languages p {
  opacity: 0.7;
  font-size: 14px;
  text-align: justify;
  margin-bottom: 0px;
}

.profil-bookings {
  padding-bottom: 30px;
}

.profil-bookings h2 {
  font-size: 20px;
  font-weight: bold;
  opacity: 0.9;
}

.profil-bookings .course-level {
  margin: 0px;
}


.edit-profile .fa-edit {
  text-decoration: none;
  color: $purple;
  opacity: 0.8;
  padding-left: 6px;
}

.fa-edit:hover {
  opacity: 1;
}

#title-category h4 {
  font-size: 20px;
  font-weight: bold;
  opacity: 0.9;
  margin-bottom: 14px;
  margin-top: 48px;
}

.review-comment {
  opacity: 0.8;
  font-size: 14px;
  margin-bottom: 0px;
}
