
.sections-course {
  font-size: 14px;
  margin-top: 24px;
}

.sections-course {
  h4 {
  margin-bottom: 24px;
  }
}

.classmates {
  display: flex;
}

.classmate-photo {
  margin-right: 20px;
  justify-content: center;
}

.classmate-photo .fa-star {
  margin-right: 20px;
  justify-content: center;
}

.review-detail {
  margin-bottom: 8px;
  margin-top: 8px;
  display: flex;
}

.review-comment {
  margin-left: 14px;
}

.all-reviews {
   p {
  text-decoration: underline;
  margin-top: 16px;
  }
}

.course-level {
  margin-bottom: 12px;
}

.user-profile-links {
  text-decoration: none;
  color: black;
}

.user-profile-links:hover {
  text-decoration: none;
  color: black;

    }
