<div class="banner">
  <div class="content-container">
    <div class="content-title">
      <h1>Be Eloquent. In any language</h1>
      <p>Book group language courses in cool locations & find classmates with common interests</p>
    </div>
  </div>
</div>
