<%= render 'shared/banner' %>
<div class="content-container">
  <form  action="/courses" method="get"/>

  <input  type="text" name="language"   placeholder="Language"/>

  <input type="text" name="location" placeholder="City" />
  <input type="submit" value="Search" >

</div>
