.button-search {
  background-color: $purple;
  color: white;
  width: 100%;
  padding: 8px;
  border-radius: 4px;
  opacity: 0.85;
  text-align: center;
  font-weight: bold;
  margin-top: 24px;
  font-size: 20px;
  border: 1px solid transparent;
}

.button-search:hover {
  opacity: 0.7;
}

.btn-show-course {
  display: flex;
  justify-content: space-between;
  background-color: #EAEAEA;
  padding: 16px 16px;
  align-items: center;
  position: fixed;
  bottom: 0;
  width: 100%;
}

.price{
  display: flex;
  margin: 0px;
  padding: 0px;
  align-items: center;
  p {
    margin: 0px;
    font-size: 10px;
    margin-left: 4px;
  }
}

.btn-book {
  .btn-primary {
  width: 120px;
  height: 36px;
  border-radius: 4px;
  background-color: $purple;
  border-color: $purple;
  opacity: 0.8;
  font-weight: bold;
  }
}

.button-profile {
    background-color: #4a194b;
    color: white;
    padding: 8px;
    border-radius: 4px;
    opacity: 0.85;
    text-align: center;
    font-weight: bold;
    font-size: 14px;
}

.login-button {
  border: solid 2px;
  border-color: $purple;
  width: 66px;
  border-radius: 4px;
  text-align: center;
  color: $purple;
  text-decoration: none;
  font-size: 12px;
  font-weight: bold;
  opacity: 0.75;
  height:  33px;
  padding-right: 1rem;
  padding-left: 1rem;
  padding-top: 0.3rem;
  padding-bottom: 0.3rem;
}

.login-button:hover {
  text-decoration: none;
  color: $purple;
  opacity: 0.6;
}

button.stripe-button-el,
button.stripe-button-el>span {
  background-color: #4a194b !important;
  background-image: none;
  opacity: 0.85;
  border-radius: 4px;
}
