#query_level {
  padding-right: 40px;
}

.query-form {
  padding: 40px;
}

.dropdown-menu {
  transform: translate3d(20px, 109px, 0px) !important;
  width: 88%;
}

.container-active {
  // background-color: rgba(0,0,0,0.5);
  // -webkit-filter: grayscale(1);
  // background: linear-gradient(rgba(0,0,0,.5), rgba(0,0,0,.5)),
}

.grayscale {
  -webkit-filter: grayscale(1);
}
