
// Form design
.form-post {
  background: white;
  margin-top: 50px;
  padding: 20px;
  border-radius: 5px;
  h1 {
    text-align: center;
    font-weight: bold;
    font-size: 25px;
    color: #666666;
    margin-bottom: 50px;
    margin-top: 0px;
  }
  .btn {
    width: 100%;
    padding: 10px;
    font-weight: bold;
  }
}

// Checkboxes design
.category-choices {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin: 15px 0;
}

.category-choice {
  margin: 8px 4px 0;
    padding: 0 16px;
    box-sizing: border-box;
    border-radius: 21px;
    border: 1px solid #bbb;
  background: #b7b7b7;
  flex: 0 0 30%;
  text-align: center;
font-size: .93rem;
    font-weight: 500;
    line-height: 40px;
    text-align: center;
    color: #bbb;
    background-color: transparent;

  &:hover {
    opacity: 1;
    cursor: pointer;
  }
  &.active {
  border: 1px solid purple;
  color: purple;
  opacity: 1;
  }
}
