input[type="checkbox"].checkbox_legal {
	position: absolute;
	z-index: -1000;
	left: -1000px;
	overflow: hidden;
	clip: rect(0 0 0 0);
	height: 1px;
	width: 1px;
	margin: -1px;
	padding: 0;
	border: 0;
}

input[type="checkbox"].checkbox_legal + label.label_legal {
	padding-left: 38px;
	height: 24px;
	display: inline-block;
	line-height: 24px;
	background-repeat: no-repeat;
	background-position: 0 0;
	font-size: 14px;
	vertical-align: middle;
	cursor: pointer;
}

input[type="checkbox"].checkbox_legal:checked + label.label_legal {
	background-position: 0 -24px;
}
label.label_legal {
	background-image: url(http://csscheckbox.com/checkboxes/u/csscheckbox_25c68cea905658aa397c192548f75f50.png);
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}
