.navbar {
  padding-right: 0rem;
  padding-left: 0rem;
  padding-top: 0.6rem;
  padding-bottom: 0.8rem;
}

.navbar-eloquent {
  background: white;
  box-shadow: 0px 2px 5px -1px rgba(186,186,186,0.74);
}

.navbar-eloquent .navbar-collapse {
  flex-grow: 0;
}

.navbar-logo a {
  text-decoration: none;
  color: $purple;
  font-size: 25px;
  font-weight: bold;
  font-style: oblique;
  opacity: 0.75;
}

.navbar-logo:hover {
  opacity: 0.6;
}

.login-button {
  border: solid 2px;
  border-color: $purple;
  width: 66px;
  border-radius: 4px;
  text-align: center;
  color: $purple;
  text-decoration: none;
  font-size: 12px;
  font-weight: bold;
  opacity: 0.75;
  height:  33px;
  padding-right: 1rem;
  padding-left: 1rem;
  padding-top: 0.3rem;
  padding-bottom: 0.3rem;
}

.login-button:hover {
  text-decoration: none;
  color: $purple;
  opacity: 0.6;
}
