<!-- <h1>Reviews#new</h1>
<p>Find me in app/views/reviews/new.html.erb</p> -->

<div class="content-container">
  <div class="create-review">
  <p>Your review is important for your teacher and us</p>
  <%= simple_form_for [@booking, @review] do |f| %>
    <%= f.input :content %>
    <%= f.input :rating, collection: 1..5, placeholder: 'Rate from 0 to 5 stars your experience!'%>
    <%= f.submit "create review", class: "btn btn-primary button-search" %>

    <%#= f.button :submit, class: "btn btn-danger" %>
  <% end %>
  </div>
</div>
